@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Despre";
}

<section class="relative pt-16 bg-gray-50">
    <div class="container 2xl:container 2xl:mx-auto lg:px-20 lg:px-10 md:px-6 px-4">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="focus:outline-none text-4xl lg:text-5xl text-center font-tiempos leading-10 text-main-text lg:w-5/12 md:w-9/12 pt-4">Despre noi</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-main-text font-graphik">în această pagină vei găsi informații despre noi, cine suntem și cum ajutăm sistemul medical din România.</p>
        </div>
        <div class="pt-10 xl:flex items-stretch justify-center w-full xl:space-x-32 space-y-6 xl:space-y-0">
            <div class="w-full">
                <h1 class="lg:text-5xl md:text-4xl leading- leading-66md: md:leading-9 xl:leading-10 text-2xl text-main-text font-tiempos">Cine suntem, cum ajutăm sistemul medical?</h1>
                <p class="text-base leading-6 text-main-text font-graphik mt-4">
                    Misiunea noastră este să acordam servicii medicale integrate la standarde premium în toate Clinicile Apollo. 
                    Acest lucru este posibil utilizând echipamente performante - tehnologiile viitorului, tehnici inovatoare de tratament și echipe medicale dedicate performanței. Investim în locații premium, în confortul și siguranța pacienților, precum și într-un sistem de management performant.
                </p>
                <h2 class="text-xl leading-5 mt-12 text-main-text font-tiempos"> Valorile principale ce ne ghidează activitatea sunt:</h2>
                <ul class="list-disc mt-6 ml-6">
                    <li class="text-base leading-6 mt-2  text-main-text font-graphik">
                        Sănătatea este obiectivul principal al activității noastre. Prin orice acțiune pe care o inteprindem, susținem sănătatea: sănătatea pacienților noștri, a membrilor echipei medicale, a familiilor noastre, a  tuturor celor cu care interacționăm și a celor cu nevoi speciale.
                    <li class="text-base leading-6 mt-2 text-main-text font-graphik">
                        Suntem dedicați performanței și depunem eforturi continue pentru a atinge standardele de excelență pe care le-am setat: ne specializăm permanent, utilizăm tehnologii inovatoare și tehnici avansate de tratament, pentru a obține rezultate de succes. 
                    </li>                           
                    <li class="text-base leading-6 mt-2 text-main-text font-graphik">
                        Achiziționăm cele mai performante echipamente și utilizăm cele mai avansate tehnici de tratament, facem studii de cercetare,  pentru a obține rezultate inovatoare, în beneficiul pacienților.
                    </li>                           
                    <li class="text-base leading-6 mt-2 text-main-text font-graphik">
                        Consecvența este principiul după care ne ghidăm când acordăm fiecarui pacient, de fiecare dată, aceleași  servicii medicale în toate Apollo, cu ajutorul unor proceduri standardizate.
                    </li>                           
                    <li class="text-base leading-6 mt-2 text-main-text font-graphik">
                        Responsabilitatea definește orice etapă a fluxului de lucru: de la comunicarea cu pacientul, la responsabilitatea actului medical, până la mentenanță și monitorizare. 
                    </li>
                </ul>
            </div>
            <div class=" w-full lg:mt-0 mt-6">
                <img src="https://images.unsplash.com/photo-1585928642599-31f15a88c002?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="image of women smiling" class="w-full h-3/4 rounded-md hidden xl:block object-cover" />
                <img src="https://images.unsplash.com/photo-1585928642599-31f15a88c002?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="image of women smiling" class="xl:hidden hidden md:block w-full rounded-md h-3/4 object-cover" />
                <img src="https://images.unsplash.com/photo-1585928642599-31f15a88c002?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="image of women smiling" class="md:hidden w-full h-3/4 rounded-md object-cover" />
            </div>
        </div>
        <div class="md:py-12 py-10 w-full">
            <div class="mt-12">
                <div class="xl:flex items-start xl:space-x-32 space-y-12 xl:space-y-0 justify-between w-full">
                    <div class="w-full">
                        <img src="/images/misiunea-noastra.jpg" alt="image of women smiling" class="w-full h-1/2 rounded-lg" />
                        <h2 class="text-xl leading-5 text-main-text font-tiempos mt-8">Misiunea noastră</h2>
                        <p class="text-base leading-6 text-main-text font-graphik mt-6">
                            La clinica Apollo avem misiunea de a oferi pacienților noștri sănătatea de care au nevoie. Acordăm servicii medicale la cele mai înalte standarde de calitate. De asemenea, oferim tratamente moderne, realizate cu aparatură performantă și răspundem cu promptitudine la cerințele pacienților noștri.
                        </p>
                    </div>
                    <div class="w-full">
                        <img src="/images/viziunea-noastra.jpg" alt="image of women smiling" class="w-full h-1/2 rounded-lg" />
                        <h2 class="text-xl leading-5 text-main-text font-tiempos mt-8">Viziunea noastră</h2>
                        <p class="text-base leading-6 text-main-text font-graphik mt-6">
                            Prin viziune și strategie pe termen lung, am reușit să fim lideri în calitatea serviciilor medicale, să creștem sustenabil, să construim viitorul pas cu pas. Astazi, o multitudinde de pacienți au acces la servicii medicale moderne și sigure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>